<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="container">
      <div class="nav-bar">
        <h1>List of Topics</h1>
        <ul>
          <% topics.forEach(function(topic) { %>
          <a href="/get/<%= topic.id %>"><li><%= topic.topic_name %></li></a>
          <% }); %>
        </ul>
      </div>
      <div class="display-youtubers">
        <% youtubers.forEach(function(youtuber) { %>
        <div class="display">
          Name: <%= youtuber.youtuber_name %><br />
          Channel: <%= youtuber.youtuber_channel %><br />

          Followers: <%= youtuber.channel_followers %>
          <button>
            <a
              href="/get/videos/<%= encodeURIComponent(youtuber.youtuber_channel) %>"
              >See Videos</a
            >
          </button>
        </div>
        <% }); %>
      </div>
    </div>
    <div class="button-div">
      <button><a href="/add/youtuber">Add Youtuber</a></button>
      <button><a href="/add/topic">Add Topic</a></button>
      <button><a href="/add/video">Add Video</a></button>
    </div>
  </body>
</html>
